<div class="container">

  <h1  class="index-title">餐廳後台</h1>

  <br>

  <div class="row">

    <div class="col-md-12">

      <div>
        <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th class="res-name">Restaurant Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% i=1 %>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <th scope="row"><%= (@restaurants.current_page - 1)*10 + i %></th>
            <td class="res-name"><%= restaurant.name %></td>
            <td>
              <%= link_to 'Show', admin_restaurant_path(restaurant), class: "btn btn-info btn-sm" %>
            </td>
            <td>
              <%= link_to 'Edit', edit_admin_restaurant_path(restaurant), class: "btn btn-warning btn-sm" %>
            </td>
            <td>
              <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
          <% i+=1 %>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @restaurants %>
      </div>

    </div>

  </div>
</div>